---
layout: default
title: Activities
permalink: /activities
---
<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Our Activities</h2>
      </div>
      <div class="col-12">
        <a href="index.html">Home</a>
        <a href="activities.html">Activities</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

 <!-- Activity Start -->
        <div class="causes">
             <div class="container">
      <div class="section-header text-center">
          <p></p>
          <h2>Our Activities</h2>
      </div>
      <div class="row">
          {% for item in site.data.activities.activity %}
          <div class="col-lg-6 col-md-12 mb-4" onclick="window.open('{{site.data.commonlinks.volunteerForm}}')">
              <div class="card h-100 causes-item">
                  <img src="{{ item.image | relative_url }}" class="card-img-top" alt="Image">
                  <div class="card-body">
                      <div class="causes-text">
                          <h3>{{item.title}}</h3>
                          <p>{{item.description}}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  </div>
        <!-- Activity End -->

<!-- Activities/Service Start -->
         <div class="service">

            {% include services.html %}
         </div>
<!-- Activities/Service End -->
 
         <!-- Causes Start -->
        <div class="causes">
              <div class="container">
      <div class="section-header text-center">
          <p>In Addition</p>
          <h2>Our Other Activities</h2>
      </div>
      <div class="row">
          {% for item in site.data.activities.other_activities %}
          <div class="col-lg-6 col-md-12 mb-4">
              <div class="card h-100 causes-item">
                  <!--<img src="{{ index | relative_url }}" class="card-img-top" alt="Image">-->
                  <div class="card-body">
                      <div class="causes-text">
                          <!--<h3>{{item.title}}</h3>-->
                          <p>{{item.name}}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
        </div>
        <!-- Causes End -->
