   <div class="row">
          {% for item in site.data.volunteer.list %}
              {% assign index  = '/img/causes-' | append: forloop.index | append: '.jpg' %}
          <div class="col-lg-6 col-md-12 mb-4" onclick="window.open('{{site.data.commonlinks.volunteerForm}}')">
              <div class="card h-100 causes-item" style="cursor:pointer">
                  <!--<img src="{{ index | relative_url }}" class="card-img-top" alt="Image">-->
                  <div class="card-body">
                      <div class="causes-text">
                          <h3>{{item.title}}</h3>
                          <p>{{item.description}}</p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
