<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta content="Animal Farm Rescue Center, a sanctuary of hope and compassion for our beloved animal companions." name="description">
<meta content="Animal Farm Rescue Center, Pune" property="og:title">
<meta content="Animal Farm Rescue Center, a sanctuary of hope and compassion for our beloved animal companions." property="og:description">
<meta content="/img/meta_logo_c.png" property="og:image">
<meta content="Teach For India Home" property="twitter:title">
<meta content="Animal Farm Rescue Center, a sanctuary of hope and compassion for our beloved animal companions." property="twitter:description">
<meta content="/img/meta_logo_c.png" property="twitter:image">
<meta property="og:type" content="website">
<meta content="summary_large_image" name="twitter:card">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/img/favicon.ico" rel="apple-touch-icon">
    <link href="{{ '/img/meta_logo_c.png' | relative_url }}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{ '/lib/flaticon/font/flaticon.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/lib/animate/animate.min.css' | relative_url }}" rel="stylesheet">
    <!-- Owl Carousel CSS (local) -->
    <link href="{{ '/lib/owlcarousel/assets/owl.carousel.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/lib/owlcarousel/assets/owl.theme.default.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/css/style.css' | relative_url }}" rel="stylesheet">
    {% if page.extra_css %}
      {% for css in page.extra_css %}
        <link href="{{ css | relative_url }}" rel="stylesheet">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="{{ '/lib/easing/easing.min.js' | relative_url }}"></script>
    <script src="{{ '/lib/owlcarousel/owl.carousel.min.js' | relative_url }}"></script>
    <script src="{{ '/lib/waypoints/waypoints.min.js' | relative_url }}"></script>
    <script src="{{ '/lib/counterup/counterup.min.js' | relative_url }}"></script>
    <script src="{{ '/lib/parallax/parallax.min.js' | relative_url }}"></script>
    <script src="{{ '/mail/jqBootstrapValidation.min.js' | relative_url }}"></script>
    <script src="{{ '/mail/contact.js' | relative_url }}"></script>
    <script src="{{ '/js/main.js' | relative_url }}"></script>
    {% if page.extra_js %}
      {% for js in page.extra_js %}
        <script src="{{ js | relative_url }}"></script>
      {% endfor %}
    {% endif %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEF2CL2NKM"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-PEF2CL2NKM');
    </script>
    </body>
  </html>
